@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.svg#open_sanslight') format('svg'),
	     url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	background:#e8fffd;
	font-family:open_sanslight;
	color:#444444;
	padding-top:60px;
	padding-bottom:100px;
}
.frawn2{
	position:absolute;
	top:-250px;
	left:-350px;
	width:545px;
	height:547px;
	background:url(../img/frawn3.jpg) no-repeat;
}
#img-grid{
	padding-top:40px;
}
#img-grid .columns{
  padding-left: 0 !Important;
  padding-right: 0 !Important;
}
.logo{
text-align:left;
}
.logo img{
	float:left;
}
.address{
	text-align:left;
	margin-top:10px;
}
li img{

}
.bw {
	-webkit-filter:grayscale(100%);
}
li{
	padding:0 !important;
}
@media (max-width:1300px){
	.frawn2{
		display:none;
	}
}